.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {

height: 100%;
max-height: 100%;

width: 100%;
    }

#myCarousel-copy{
  height: 80%;
margin-bottom: 49px;
padding: 0px;
}

.navbar{
	margin-bottom: 0px;
	background-color: #3f869b;
}

.row-carosel{
	padding: 20px;
}

.navbar-default {
    background-color: #3f869b;
    border-color: #e7e7e7;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form{
	background-color: #3f869b;
    border-color: #e7e7e7;
    color: white;
}
.navbar-default .navbar-brand{
	color:white;
}

.navbar-default .navbar-nav > li > a{
	color: white;
}
.copyright-footer{
	text-align: center;
	background-color: #eef8fb;
}

body{
	background-color: #eef8fb;
}


.copy{
	width: 100%;
}

.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}

.login-form{
  background-color: #eef8fb;
  padding:15px;
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  border-radius: 20px;
  margin-bottom: 15px;
  width: 30%;
  position: relative;
  margin-left: 32%;
  margin-top: 5%;
}

.info{
  border-style: solid;
  border-width: 1px;
  border-color: silver;
  border-radius: 20px;
}
.form-group{
	margin-left: 20%;
}

.dugme-prijava{
	margin-left: 20%;
	width: 60%;
}

.dugme-registracija{
	margin-left: 20%;
	width:53%;
}

h4{
	background-color: mintcream;
}

 table {

        border-collapse: separate;
        border-spacing: 3px;
        width: 100%
    }

    table tr {
        background-color: gainsboro;

    }

    table tr td {
        background-color: lightgray;
        border-radius: 10px;
        padding: 30px 20px;

    }

     .fl1 {
        margin-left: 85.42%;
    }

    .fl2 {
        margin-left:  84.7%;
    }
    .fl3 {
        margin-left:  90.4%;
    }

    .priority-class{
      padding-left: 58px;
      border-radius: 11px;
      padding-right: 54px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .department-class{
      padding-left: 0%;
      border-radius: 11px;
      padding-right: 5%;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .status-class{
      padding-left: 58px;
      border-radius: 11px;
      padding-right: 54px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    .priority-class[value="5"]{
      background-color: #ff2500;
    }

    .priority-class[value="4"]{
      background-color: #f44336;
    }

    .priority-class[value="3"]{
      background-color: #ff9800;
    }

    .priority-class[value="2"]{
      background-color: #fff400;
    }

    .priority-class[value="1"]{
      background-color: white;
    }

    .priority-class[value="-1"]{
      background-color: gray;
    }



    .department-class[value="Incident management"]{
      background-color: #46b8da;
    }

    .department-class[value="Problem management"]{
      background-color: pink;
      padding-right: 1%;
    }

    .department-class[value="Request fulfillment"]{
      background-color: violet;
      padding-right:20%;
    }


    .status-class[value="Nerijesen"]{
      background-color: #f44336;
    }

    .status-class[value="Zatvoren"]{
      background-color: green;
    }

    .status-class[value="Popravljen"]{
      background-color: #46b8da;
    }

    .status-class[value="U obradi"]{
      background-color: orange;
    }
   
    .status-class[value="Odbijen"]{
      background-color: gray;
    }

    .status-class[value="Odobren"]{
      background-color: yellow;
    }
    
    .status-class[value="Otkazan"]{
      background-color: black;
    }

.chart{
  width: 250px;
  height: 250px;
}