#miniMeni{
	padding: 0px;
}

.miniMiniMeni{
	height: 15%;
	border-radius: 0px;
	background-color: white;
	padding: 0px;
	border:1px solid white;
}

.navbar-fixed-left {
	position: fixed;
	border-radius: 0px;
	background-color: transparent;
	padding: 0px;
}

.navbar-minimal {
	width: 20%;
	border-width: 0px;
	z-index: 1000;
	height: 50%;
}

.navbar-minimal > .navbar-menu {
	padding: 0px;
	height: 100%;
	width:100%;
}

.navbar-minimal > .navbar-menu > li{
	margin: 0px;
	padding:0px;
	background-color: transparent;
	width: 100%;
	height: 20%;
	border:1px solid white;
}

.miniMiniMeni > li{
	margin: 0px;
	padding:0px;
	background-color: transparent;
	width: 100%;
	height: 100%;
	border:1px solid white;
}

.navbar-minimal > .navbar-menu > li:hover, .miniMiniMeni > li:hover{
	background-color: #3f869b;
}

.navbar-minimal > .navbar-menu > li > a{
	display: inline-block;
	color: black;
	padding: 10%;
	text-align: center;
	cursor: pointer;
	width: 100%;
	height: 100%;
	text-decoration: none;
	margin: 0px;
}

.miniMiniMeni > li > a {
	display: inline-block;
	color: black;
	padding: 15px;
	text-align: center;
	cursor: pointer;
	width: 100%;
	height: 100%;
	text-decoration: none;
	margin: 0px;
}


.navbar-minimal > .navbar-menu > li > a > .glyphicon, .miniMiniMeni > li > a > .glyphicon{
	float: right;
}


.userTab{
	background:transparent;
	width:90%;
	padding:5%;
	border:2px solid #3f869b;
}


.userTab > thead, .userTab > tbody{
	background-color: transparent;
	border:2px solid #3f869b;
	font-size: 20px;
}

.userTab > tbody > tr, .userTab > tbody > tr > td, .userTab > thead > tr > td, .userTab > thead > tr > th, .userTab > thead > tr {
	background-color: transparent;
	border:none;
	font-size: 20px;
}

.userTab > tbody > tr > td > button{
	width:50px;
	height: 20px;
	float: right;
	padding: 5px;
	font-size: 10px;
}

#userView{
	margin-top: 5%;
}

#userInfo{
	padding: 0px;
	background-color: transparent;
}

#prikazInfoa{
	border:2px solid #3f869b;
	font-size: 20px;
}

.forma{
	background:transparent;
	width:90%;
	padding:5%;
	border:2px solid #3f869b;
}

.form-group > label{
	width: 100%;
	padding:0px;
	margin: 0px;
}

.form-group > input{
	width: 100%;
	padding:0px;
	margin: 0px;
}
