table {

        border-collapse: separate;
        border-spacing: 3px;
        width: 100%
    }

    table tr {
        background-color: gainsboro;

    }

    table tr td {
        background-color: lightgray;
        border-radius: 10px;
        padding: 30px 20px;

    }

    h4 {
        padding-bottom: 5px;
        border-bottom: 1px solid gray;
    }

    .scrolling {
        height: 180px;
        overflow-y: hidden;
    }

    .scrolling:hover {
        overflow-y: scroll;
    }

    .fl {
        margin-left: 85%
    }