<div class="container">



	<div class="row info">

		<div class="col-md-12">
		<h2 style="text-decoration: underline;"><b>Rješavanje incidenta</b></h2>



		<!-- automatski nerijesen
			<h4 ng-model="incident.status"><b>Status incidenta:</b> </h4>
			<input type="text" placeholder="Status incidenta:" ng-model="user.name" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>
        -->


		<h3 style="text-decoration: underline;"><b>Informacije o korisniku:</b></h2>
			<h4><b>Korisničko ime:</b> {{incident.user.username}}</h4>
			<h4><b>Ime:</b> {{incident.user.name}}</h4>
			<h4><b>Prezime:</b> {{incident.user.surname}}</h4>
			<h4><b>Adresa:</b> {{incident.user.address}}</h4>
			<h4><b>Email:</b> {{incident.user.email}}</h4>
			<h4><b>Kontakt telefon:</b> {{incident.user.telephone}}</h4>

		<h3 style="text-decoration: underline;"><b>Incident prijavio:</b></h2>
			<h4><b>Korisničko ime:</b> {{incident.evidenterUser.username}}</h4>

		<h3 style="text-decoration: underline;"><b>Informacije o incidentu:</b></h2>


			<h4><b>Način prijave:</b>{{methodR}}</h4>

			<h4 ><b>Usluga za koju je prijavljen incident:</b></h4>
			<input type="text" placeholder="Usluga za koju je prijavljen incident" ng-model="incident.service.name" name="name" class="username" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" readonly required/>


			<h4 ><b>Naziv incidenta:</b> </h4>
			<input type="text" placeholder="Naziv incidenta" ng-model="incident.title" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" readonly required/>

             <h4><b>Opis incidenta:</b> </h4>
			<input type="text" placeholder="Opis poduzetih incidenta" ng-model="incident.description" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" readonly required/>





			<h4><b>Odjel za rješavanje:</b></h4>
			 <div class="ui-select">
			              <select id="incident_influence" class="form-control" ng-model="incident.department" ng-options="x.name for x in departments" >

			              </select>
			</div>


   		<h4 ng-show="imaOdgovoraNaInc">Odgovori:</h4>
   		<table class="col-12 tabela" ng-show="imaOdgovoraNaInc">
        <thead>
        	<tr>
        		<th colspan="1">Autor</th>
        		<th colspan="2">Odgovor</th>
        		<th colspan="1">Datum</th>

        	</tr>
        </thead>
        <tbody>
        	<tr ng-repeat="a in answers1">
        	<td colspan="1">{{a.autor.username}}</td>
        	<td colspan="2">{{a.text}}</td>
        	<td>{{a.datumPrijave.day}}.{{a.datumPrijave.month}}.{{a.datumPrijave.year}}.godine <br/>
				{{a.datumPrijave.hours}}:{{a.datumPrijave.minutes}}:{{a.datumPrijave.seconds}} sati
				</td>

        	</tr>
        </tbody>
        </table>



		<h4><b>Povezani s nekim od glavnih incidenata:</b> </h4>
			 	<label class="radio-inline" for="Povezan-1">
			    <input type="radio" ng-model="connection" name="report_method" id="Povezan-1" value="1" ng-checked="incident.incident!=null" ng-change="povezani()" >
			      Da
			    </label>
			    <label class="radio-inline" for="Povezan-2" >
			      <input type="radio" ng-model="connection" name="report_method" id="Povezan-1" value="2" ng-checked="incident.incident==null"  ng-change="povezani()">
			      Ne
				</label>

			<br/>

			 <div class="ui-select" ng-show="connection==1 || incident.incident!=null" style="margin-top: 13px;">
			              <select id="incident_influence" class="form-control" ng-model="incident.incident"  ng-options="x.title for x in mainIncidents" data-toggle="tooltip" title="{{x.description}}" ng-change="vratiOdgovore()">

			              </select>

			               <b><a href="" ng-click="vratiOdgovore()" ng-show="prikazi==0" style="text-decoration: underline;">Prikaži odgovore</a></b>
			              <b><a href="" ng-click="vratiOdgovore()" ng-show="prikazi==1" style="text-decoration: underline;">Sakrij odgovore</a></b>
			 </div>

        <h4 ng-show="imaOdgovora && connection==1 && incident.incident!=null && prikazi==1"><b>Ponudjeni odgovori:</b></h4>


        <table class="col-12 tabela" ng-show="imaOdgovora && connection==1 && incident.incident!=null && prikazi==1">
        <thead>
        	<tr>
        		<th>Autor</th>
        		<th>Odgovor</th>
        		<th>Prihvati odgovor</th>
        	</tr>
        </thead>
        <tbody>
        	<tr ng-repeat="a in answers">
        	<td>{{a.autor.username}}</td>
        	<td>{{a.text}}</td>
        	<td><input type="radio" ng-model="incident.answer.id" name="da" value="{{a.id}}"></td>
        	</tr>
        </tbody>
        </table>




       <div ng-show="incident.answer.id==null">

		<h4 ><b>Novi odgovor:</b> </h4>
		<input type="text" placeholder="Tekst odgovora" ng-model="incident.answerText" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>

<!--
			<h4><b>Broj ponavljanja incidenta:</b> </h4>
			<input type="number" placeholder="Broj ponavljanja incidenta" ng-model="incident.repetition" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[0-9\s]*$/" required/>
-->
      </div>

			<h4><b>Način odgovaranja:</b>{{methodC}}</h4>
<!--
			<input type="submit" class="btn btn-danger dugme-prijava" style="margin-bottom: 10px;" ng-click="rijesenIncident()" value="Rijesi incident"/>
-->
			<input type="submit" class="btn btn-danger dugme-prijava" style="margin-bottom: 10px;" ng-click="fixIncident()" value="Izmijeni incident"/>
			<input type="submit" class="btn btn-info dugme-prijava" style="margin-bottom: 10px;" ng-click="odustani()" value="Odustani"/>
		</div>

	</div>






</div>
