   <form ng-submit="register()" name="registrationForm" class="login-form" novalidate>
      <div class="form-group">
        <label>Ime:</label><br>
        <input type="text" placeholder="Ime" ng-model="user.name" name="name" class="username" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required />
      </div>
      <div class="form-group">
        <label>Prezime:</label><br>
        <input type="text" placeholder="Prezime" ng-model="user.surname" name="surname" class="username" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/"  required />

      </div>

      <div class="form-group">
        <label>Adresa:</label><br>
        <input type="text" placeholder="Adresa" ng-model="user.address" name="address" class="address" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required />
      </div>

      <div class="form-group">
        <label>Korisnicko ime:</label><br>
        <input type="text" placeholder="Korisnicko ime" ng-model="user.username" name="username" class="username" ng-minlength="4" required />

      </div>
      <div class="form-group">
        <label>Korisnicka sifra:</label><br>
        <input type="password" placeholder="Korisnicka sifra" ng-model="user.password" name="password" class="pass" ng-minlength="4" required />

      </div>
      <div class="form-group">
        <label>Ponovljena sifra:</label><br>
        <input type="password" placeholder="Ponovljena sifra" ng-model="passwordRepeat" name="passwordRepeat" class="pass" required />
      </div>

      <input type="submit" class="btn btn-info dugme-registracija" value="Registruj se" />
</form>
