
<style>
    table {

        border-collapse: separate;
        border-spacing: 3px;
        width: 100%
    }

    table tr {
        background-color: gainsboro;

    }

    table tr td {
        background-color: lightgray;
        border-radius: 10px;
        padding: 30px 20px;

    }

    h4 {
        padding-bottom: 5px;
        border-bottom: 1px solid gray;
    }

    .scrolling {
        height: 180px;
        overflow-y: hidden;
    }

    .scrolling:hover {
        overflow-y: scroll;
    }

    .fl {
        margin-left: 85%
    }
</style>

<table ng-controller="servicesCtrl" ng-init="onInit()" class="tabela table">

  <thead>
    <tr>
      <th colspan="5">
        Usluge telekoma
      </th>
    </tr>
    <tr>
      <th colspan="1">Naziv usluge</th>
      <th colspan="2">Opis usluge</th>
      <th colspan="1">Cijena usluge</th>
      <th colspan="1">Opcije</th>
    </tr>
  </thead>
  <tr  ng-repeat="service in services">
    <td>

      <label>{{service.name}}</label>
    </td>
    <td colspan="2">

      <label>{{service.description}}</label>
    </td>
    <td>

      <label>{{service.price}}</label>
    </td>
    <td>
      <div ng-if="user.type==1">
          <input ng-if="!service.available" class="btn btn-default" type="submit"
                 value="Usluga nije dostupna"
                 disabled/>
          <input ng-if="service.available" class="btn btn-info" type="submit" value="Prijavi uslugu"
                 ng-click="prijaviUslugu(service)"/>
      </div>
      <div ng-if="user.type==2">
          <input ng-if="service.available" type="submit" class="btn btn-info"
                 value="Promijeni dostupnost usluge"
                 ng-click="uslugaNedostupna(service)"/>
          <input ng-if="!service.available" type="submit" class="btn btn-info"
                 value="Promijeni dostupnost usluge"
                 ng-click="uslugaDostupna(service)"/>
      </div>
    </td>
  </tr>
  <!--
    <tr>
        <td>
            <h4>Usluge telekoma:</h4>
            <ul style="height:600px; overflow-y: scroll" class="list-group">
                <li ng-repeat="service in services" class="list-group-item">
                    <div class="form-group">
                        <label>Naziv usluge:</label><br>
                        <label>{{service.name}}</label>
                    </div>
                    <div class="form-group">
                        <label>Opis usluge:</label><br>
                        <label>{{service.description}}</label>
                    </div>
                    <div class="form-group">
                        <label>Cijena usluge:</label><br>
                        <label>{{service.price}}</label>
                    </div>
                    <div class="form-group">
                        <label>Usluga dostupna:</label><br>
                        <input type="checkbox" ng-model="service.available" disabled>
                    </div>

                    <div ng-if="user.type==1">
                        <input ng-if="!service.available" class="btn btn-default" type="submit"
                               value="Usluga nije dostupna"
                               disabled/>
                        <input ng-if="service.available" class="btn btn-info" type="submit" value="Prijavi uslugu"
                               ng-click="prijaviUslugu(service)"/>
                    </div>
                    <div ng-if="user.type==2">
                        <input ng-if="service.available" type="submit" class="btn btn-info"
                               value="Promijeni dostupnost usluge"
                               ng-click="uslugaNedostupna(service)"/>
                        <input ng-if="!service.available" type="submit" class="btn btn-info"
                               value="Promijeni dostupnost usluge"
                               ng-click="uslugaDostupna(service)"/>
                    </div>
                </li>
            </ul>
            <div ng-if="user.type==2">
                <h4></h4>
                <input class="btn btn-info" type="submit" value="Dodaj novu uslugu"
                       ng-click="addMode()"/>
            </div>
        </td>

    </tr>
  -->

    <tr ng-if="prikaziDodaj">
        <td>
            <h4>Dodaj novu uslugu</h4>
            <form ng-submit="dodajUslugu()" name="dodaj" novalidate class="scrolling">
                <div class="form-group ">
                    <label>Naziv usluge:</label><br>
                    <input type="text" placeholder="Naziv" ng-model="usluga.name" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>
                </div>
                <div class="form-group">
                    <label>Opis usluge:</label><br>
                    <input type="text" placeholder="Opis" ng-model="usluga.description" name="surname" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>

                </div>

                <div class="form-group">
                    <label>Cijena usluge:</label><br>
                    <input type="text" placeholder="Adresa" ng-model="usluga.price" name="address" class="address"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>
                </div>
                <div class="form-group">
                    <label>Usluga dostupna:</label><br>
                    <input type="checkbox" placeholder="Adresa" ng-model="usluga.available" name="address"
                           class="address"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>
                </div>


                <input class="btn btn-info" type="submit" value="Dodaj uslugu"/>

            </form>
        </td>

    </tr>

</table>
