<div class="container">



	<div class="row info">

		<div class="col-md-12">
		<h2 style="text-decoration: underline;"><b>Rješavanje incidenta</b></h2>

			

		<!-- automatski nerijesen
			<h4 ng-model="incident.status"><b>Status incidenta:</b> </h4>
			<input type="text" placeholder="Status incidenta:" ng-model="user.name" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>
        -->

			<h4><b>Prijavio:</b></h4>
			<input type="text" placeholder="Korisnicko ime" ng-model="incident.evidenterUser.username" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>


            <h4><b>Korisnicko ime korisnika:</b></h4>
			<input type="text" placeholder="Ime" ng-model="incident.user.username" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" readonly required/>

			<h4><b>Ime korisnika:</b></h4>
			<input type="text" placeholder="Ime" ng-model="incident.user.name" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" readonly required/>

			<h4 ><b>Prezime korisnika:</b></h4>
			<input type="text" placeholder="Prezime" ng-model="incident.user.surname" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" readonly required/>

            <h4><b>Adresa korisnika:</b> </h4>
			<input type="text" placeholder="Adresa korisnika" ng-model="incident.user.address" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" readonly required/>

			<h4><b>Email korisnika:</b> </h4>
			<input type="text" placeholder="Email" ng-model="incident.user.email" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" readonly required/>

			<h4><b>Kontakt telefon:</b></h4>
			<input type="text" placeholder="Kontakt telefon" ng-model="incident.user.telephone" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" readonly required/>

			
<!--sta ako nije pogledao mail na vrijeme?
			<h4 ng-model="incident.created"><b>Datum prijave:</b> </h4>
			<input type="text" placeholder="Datum prijave" ng-model="user.name" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>
-->


			<h4 ><b>Usluga za koju se prijavljuje incident:</b></h4>
			<input type="text" placeholder="Usluga za koju je prijavljen incident" ng-model="incident.service.name" name="name" class="username" ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" readonly required/>
		

			<h4 ><b>Naziv incidenta:</b> </h4>
			<input type="text" placeholder="Naziv incidenta" ng-model="incident.title" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>

             <h4><b>Opis incidenta:</b> </h4>
			<input type="text" placeholder="Opis poduzetih incidenta" ng-model="incident.description" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>

            <h4><b>Prioritet:</b> </h4>
			<select id="incident_urgency" class="form-control" ng-model="incident.priority" ng-options="x for x in priorities">
		     </select>

		     <h4><b>Status:</b> </h4>
			<select id="incident_urgency" class="form-control" ng-model="incident.status" ng-options="x.status for x in statuses">
		     </select>
		

			<h4><b>Redoslijed rjesavanja:</b></h4>
			<input type="number" name="name" id="incident_influence" class="form-control" ng-model="incident.urgency" />
			
		
			

			<h4><b>Odjel za rješavanje:</b></h4>
			 <div class="ui-select">
			              <select id="incident_influence" class="form-control" ng-model="incident.department" ng-options="x.name for x in departments" >
			                       
			              </select>
			</div>

			
   		<h4 ng-show="imaOdgovoraNaInc">Odgovori:</h4>
   		<table class="col-12" ng-show="imaOdgovoraNaInc">
        <thead>
        	<tr>
        		<th>Autor</th>
        		<th>Odgovor</th>
        		
        	</tr>
        </thead>
        <tbody>
        	<tr ng-repeat="a in answers1">
        	<td>{{a.autor.username}}</td>
        	<td>{{a.text}}</td>	
        	</tr>
        </tbody>
        </table>
			

		<h4 ng-model="incident.incident"><b>Povezani s nekim od glavnih incidenata:</b> </h4>
			 	<label class="radio-inline" for="Povezan-1">
			    <input type="radio" ng-model="connection" name="report_method" id="Povezan-1" value="1" ng-change="povezani()" >
			      Da
			    </label> 
			    <label class="radio-inline" for="Povezan-2" checked="checked">
			      <input type="radio" ng-model="connection" name="report_method" id="Povezan-1" value="2" ng-change="povezani()">
			      Ne
				</label>



			 <div class="ui-select" ng-show="connection==1">
			              <select id="incident_influence" class="form-control" ng-model="incident.incident"  ng-options="x.title for x in mainIncidents" data-toggle="tooltip" title="{{x.description}}" ng-change="vratiOdgovore()">
			                       
			              </select>
			 </div>
        
        <h4 ng-show="imaOdgovora && connection==1 && incident.incident!=null"><b>Ponudjeni odgovori:</b></h4>


        <table class="col-12" ng-show="imaOdgovora && connection==1 && incident.incident!=null">
        <thead>
        	<tr>
        		<th>Autor</th>
        		<th>Odgovor</th>
        		<th>Prihvati odgovor</th>
        	</tr>
        </thead>
        <tbody>
        	<tr ng-repeat="a in answers">
        	<td>{{a.autor.username}}</td>
        	<td>{{a.text}}</td>
        	<td><input type="radio" ng-model="incident.answer.id" name="da" value="{{a.id}}"></td> 		
        	</tr>
        </tbody>
        </table>

<!--
        <div ng-repeat="a in answers" ng-show="imaOdgovora && connection==1">
        	<input type="text" name="odg" ng-model="a.autor.username">

        	<input type="text" name="odg" ng-model="a.text">
        	<input type="checkbox" name="da" value="1">
        	
        </div>
        -->
        
     





		<h4 ng-show="connection==2 || connection==0 || incident.answer.id==null"><b>Novi odgovor:</b> </h4>
		<input ng-show="connection==2 || connection==0" type="text" placeholder="Tekst odgovora" ng-model="incident.answer.text" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[a-zA-Z0-9\s]*$/" required/>
        
			<h4><b>Broj ponavljanja incidenta:</b> </h4>
			<input type="number" placeholder="Broj ponavljanja incidenta" ng-model="incident.repetition" name="name" class="username"
                           ng-minlength="3" ng-pattern="/^[0-9\s]*$/" required/>
        


			<h4><b>Način prijave:</b> </h4>
			  
			      <input type="text" ng-model="methodR" value="methodR" name="contactMethod" />
		
	        <br/>
			<h4><b>Način odgovaranja:</b> </h4>
			  
			      <input type="text" ng-model="methodC" value="methodR" name="contactMethod" />
		
	        <br/>

			<input type="submit" class="btn btn-danger dugme-prijava" style="margin-bottom: 10px;" ng-click="rijesenIncident()" value="Rijesi incident"/>
			<input type="submit" class="btn btn-info dugme-prijava" style="margin-bottom: 10px;" ng-click="odustani()" value="Odustani"/>
		</div>

	</div>






</div>